PORT=3000
SECRET_KEY=mySuperSecretKey_kisan2024_xYz!@#987
MONGO_URL=mongodb+srv://harsh12371216_db_user:UcaPbNsP66vv5S7A@cluster0.plojay2.mongodb.net/?appName=Cluster0
WEATHER_API_KEY=ad16c523b9c04c9a172b31133acb8aa1
DATA_GOV_API_KEY=579b464db66ec23bdd0000012b375f78fc6748646cc9cbe45fa41122
GEMINI_API_KEY=AIzaSyBkXE2FZxyoqzIETrkLSegtj1boSj9Ye2U
CORS_ORIGIN=https://your-frontend-domain.netlify.app
